<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description | default: site.description }}">

<!-- Preconnect for fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Typography: Instrument Sans (UI) + JetBrains Mono (code) - Component Gallery style -->
<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">

<!-- Icons (for docs and installation pages) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous">

<!-- Favicon -->
<link rel="icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">

<!-- CSS -->
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<!-- SEO tags -->
{% seo %} 